<span>
    <span ng-hide="ao">
        <a href="" ng-click="ic = !ic">
            <span ng-show="ic"><h5>{{label}}<span class="caret"></span></h5></span>
            <span ng-hide="ic"><h5>hide {{label}}</h5></span>
        </a>
    </span>
    <div ng-hide="ic" class="facet">
        <span ng-repeat="facet in facets">
            <span ng-if="facet.count"> 
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-click="toggleFacet(facet.label)" ng-checked="{{facet.checked}}">{{facet.label}} <em ng-if="facet.count">({{facet.count}})</em>
                    </label>
                </div>
            </span>
        </span>
    </div>
</span>
