<div ng-style="underlay" ng-if="largeList" ng-click="close()"></div>

<span ng-hide="ao">
    <a href="" ng-click="ic = !ic">
        <span ng-show="ic"><h5>{{label}}<span class="caret"></span></h5></span>
        <span ng-hide="ic" class="dropup"><h5>{{label}}<span class="caret"></span></h5></span>
    </a>
</span>

<div ng-hide="ic && !ao" class="facet">
    <div ng-show="smallList">
        <span ng-repeat="result in facets track by $id(result)">
            <span ng-if="result[1]">
                <div class="checkbox">
                    <label>
                        <input  type="checkbox" ng-click="facet(result[0])" ng-checked="{{result[2]}}">{{result[0]}}&nbsp;
                        <span ng-show="{{result[1]}}"><em>({{result[1]}})</em></span>
                    </label>
                </div>
            </span>
        </span>
        <div><a href="" ng-click="showMore()">show more</a></div>
        <hr/>
    </div>

    <div ng-if="largeList" ng-style="overlay">
        <div class="row">
            <div class="col-sm-11 col-md-11 col-lg-11">
                <h5>{{label}}</h5>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1">
                <button type="button" class="close btn-sm" aria-label="Close" ng-click="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3" ng-repeat="f in facets">
                <span ng-repeat="result in f track by $id(result)">
                    <span ng-if="result[1]">
                        <div class="checkbox">
                            <label>
                                <input  type="checkbox" ng-click="facet(result[0])" ng-checked="{{result[2]}}">{{result[0]}}&nbsp;
                                <em>({{result[1]}})</em>
                            </label>
                        </div>
                    </span>
                </span> 
            </div>
        </div>
    </div>
</div>
