<div ng-switch on="data.record_type_short">
    <span ng-switch-when="MODS">
        <render-mods ng-model="data"></render-mods>
    </span>
    <span ng-switch-when="EAC">
        <render-eac ng-model="data"></render-eac>
    </span>
</div>