<div ng-style="topbarStyle">
    <div class="row" style="background-color: #efefea;">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <h3 style="font-size: 25px; font-weight: normal; margin: 3px 0 0; padding: 0; text-shadow: 1px -1px 2px #595959; color: #658095; line-height: 50px; height: 50px; display:inline;">
                    <span style="color: #3d4343;">Explore the IsisCB</span>
                </h3>
            </div>
    </div>

    <!-- header controls -->
    <div class="row" style="background-color: #3d4343;">
        <div class="col-sm-11 col-md-11 col-lg-11">
                <search-form 
                    help='Normally this would be site / context specific help in this bit...'
                    search-type="keyword"
                    >
                </search-form>
        </div>
    </div>
</div>
<div ng-style="bodypanelStyle">
    <tabset>
        <tab heading="Bibliographic Records" active="tabs[0]" select="setBibliography()">
            <div class="row" style="">
                <div class="col-sm-4 col-md-4 col-lg-3">
                    <div class="col-sm-12" style="padding-top: 10px;">
                        <em>Search term: </em><strong>{{results.term}}</strong>.
                        <br/>
                        <em>Matches: </em><strong>{{results.total}} entries</strong>.
                    </div>
                    <div class="col-sm-12">
                        <date-facet-widget facet-field="date_created" id="4" label="Publication Date" start="1970" interval="5"></date-facet-widget>
                    </div>
                    <div class="col-sm-12">
                        <facet-widget facet-field="document_type" label="Document type" show-pagination-controls="false" sort-by='index'></facet-widget>
                    </div>
                    <div class="col-sm-12">
                        <facet-widget facet-field="name_role" label="Contributors" join='AND'></facet-widget>
                    </div>
                    <div class="col-sm-12">
                        <facet-widget facet-field="publisher" label="Publisher" join='AND'></facet-widget>
                    </div>
                    <div class="col-sm-12">
                        <facet-widget facet-field="place" label="Place" join='AND'></facet-widget>
                    </div>
                    <div class="col-sm-12">
                        <facet-widget facet-field="subject_topic" label="Subject: topics" join='AND'></facet-widget>
                    </div>
                    <div class="col-sm-12">
                        <facet-widget facet-field="subject_temporal" label="Subject: time period" join='AND'></facet-widget>
                    </div>
                    <div class="col-sm-12">
                        <facet-widget facet-field="subject_geographic" label="Subject: geographic" join='AND'></facet-widget>
                    </div>
                    <div class="col-sm-12">
                        <facet-widget facet-field="subject_corporate" label="Subject: institutions" join='AND'></facet-widget>
                    </div>
                    <div class="col-sm-12">
                        <facet-widget facet-field="subject_personal" label="Subject: persons" join='AND'></facet-widget>
                    </div>
                </div>
                <div class="col-sm-8 col-md-8 col-lg-9" style="padding: 15px;">
                    <div style="border: 1px solid #ccc; border-radius: 8px; padding: 15px;">
                        <div ng-show="bibliographic"><search-results display-provenance="true"></search-results></div>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Authority Records" active="tabs[1]" select="setAuthority()">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-3">
                    <div class="col-sm-12" style="padding-top: 10px;">
                        <em>Search term: </em><strong>{{results.term}}</strong>.
                        <br/>
                        <em>Matches: </em><strong>{{results.total}} entries</strong>.
                    </div>
                    <div class="col-sm-12"><h5>Filter by birth date of subject persons.</h5></div>
                    <div class="col-sm-12">
                        <date-facet-widget facet-field="exist_from" id="1" label="Before 1000 CE" 
                            start="0" end="999" interval="500" existence="false"></date-facet-widget>
                    </div>
                    <div class="col-sm-12">
                        <date-facet-widget facet-field="exist_from" id="2" label="1000 - 1699 CE" 
                            start="1000" end="1699" interval="200" existence="true"></date-facet-widget>
                    </div>
                    <div class="col-sm-12">
                        <date-facet-widget facet-field="exist_from" id="3" label="After 1700 CE" 
                            start="1700" interval="50" existence="false"></date-facet-widget>
                    </div>
                </div>
                <div class="col-sm-8 col-md-8 col-lg-9" style="padding: 15px;">
                    <div style="border: 1px solid #ccc; border-radius: 8px; padding: 15px;">
                        <div ng-show="authority"><search-results display-provenance="true"></search-results></div>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Controls" active="tabs[2]">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12"><h4>Alter search type:</h4></div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <label class="radio-inline">
                        <input type="radio" ng-checked="keywordSearch" ng-click="setSearchType('keyword')" />
                        Keyword search
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-checked='keywordAnd' ng-click="setSearchUnion('AND')" />AND
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-checked='keywordOr' ng-click="setSearchUnion('OR')" />OR
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <label class="radio-inline">
                        <input type="radio" ng-checked="phraseSearch" ng-click="setSearchType('phrase')" />
                        Phrase search
                    </label>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12"><h4>Limit search to:</h4></div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <a href="" ng-click="selectAll()" ng-if="allSelectedToggle">select all</a>
                    <span ng-if="allSelectedToggle && noneSelectedToggle"><br/></span>
                    <a href="" ng-click="deselectAll()" ng-if="noneSelectedToggle">select none</a>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-click="updateSearchLimit('0')" ng-checked="searchWhat[0]"> Authors
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-click="updateSearchLimit('1')" ng-checked="searchWhat[1]"> Editors
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-click="updateSearchLimit('2')" ng-checked="searchWhat[2]"> Contributors
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-click="updateSearchLimit('3')" ng-checked="searchWhat[3]"> Title
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-click="updateSearchLimit('4')" ng-checked="searchWhat[4]"> Publisher 
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-click="updateSearchLimit('5')" ng-checked="searchWhat[5]"> Subject Topic 
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-click="updateSearchLimit('6')" ng-checked="searchWhat[6]"> Subject Person
                        </label>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                </div>
            </div>
        </tab>
    </tabset>
</div>

