<div ng-show="displayProvenance">
    <hr/>
    <small><strong>Record Source:&nbsp;</strong><a href="{{data.url}}">{{data.url}}</a></a></strong></small>
    <br/>
    <small><strong>Data Source:&nbsp;</strong><a href="{{data.site_url}}" target="_blank">{{data.site_name}}</a></small>
</div>