<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <strong>{{data.sequenceNo + 1}}.</strong> {{data.name}}
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div ng-switch on="data.entity_type">
            <div ng-switch-when="corporateBody"><strong>Subject Term: </strong>Corporate Body</div>
            <div ng-switch-when="person"><strong>Subject Term: </strong>Person</div>
            <div ng-switch-when="topicSubject"><strong>Subject Term: </strong>Topic</div>
            <div ng-switch-when="geographicTerm"><strong>Subject Term: </strong>Geographic Term</div>
            <div ng-switch-when="timePeriod"><strong>Subject Term: </strong>Time Period</div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12" ng-if="data.date_from || data.date_to">
        <strong>Dates of existence: </strong>{{data.date_from | date: 'yyyy'}} - {{data.date_to | date: 'yyyy'}}
    </div>
</div>
