<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <strong>{{data.sequenceNo + 1}}.</strong> {{data.author[0]}}
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <a href="{{data.source}}">{{data.title}}</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        Calculated data line 3
    </div>
</div>
