<form role="form">
    <div class="row" style="padding: 5px;">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <input type="text" class="form-control" ng-model="searchBox" autofocus>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <button class="btn btn-default btn-block" ng-click="search()">Search</button>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <button class="btn btn-default btn-block" ng-click="reset()">Reset</button>
        </div>
    </div>
    <!-- <p class="help-block">{{help}}</p> -->
</form>

