<div ng-if="!results">
    <div class="row" style="padding-top: 15px;">
        <div class="col-sm-2 col-md-2 col-lg-2"></div>
        <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="progress">
              <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              </div>
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2"></div>
    </div>
</div>
<div ng-if="results" style="padding-top: 15px;">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <button class="btn btn-default btn-block disabled">Collections</button>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <button class="btn btn-default btn-block disabled">Check All</button>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <sort-results></sort-results>
        </div>
    </div>
    <div class="row" style="padding-top: 10px;">
        <!-- header -->
        <div class="col-sm-9 col-md-10 col-lg-10">
            <!--You searched for <strong>{{results.term}}</strong>. We found <strong>{{results.total}}</strong> documents. -->
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <button class="btn btn-default btn-sm" ng-click="showFilters = !showFilters">
                <span ng-hide="showFilters">View Filters</span>
                <span ng-show="showFilters">Hide Filters</span>
            </button>
        </div>
    </div>

    <div class="row well" ng-show="showFilters" style="margin: 5px;">
        <!-- filters and controls -->
        <span ng-if="filters.length === 0">No filters applied.</span>
        <span ng-if="filters.length > 0">Filters are combined with 'AND'.</span>
            <ul>
                <li ng-repeat="filter in filters">{{filter | dateFilterPrettifier}}</li>
            </ul>
        <!-- end filters and controls -->
    </div>

    <div class="row" style="">
        <!-- results panel -->
        <div class="col-sm-12 col-md-12 col-lg-12" ng-repeat="doc in results.docs">
            <generic-result-display ng-model="doc" display-provenance="{{displayProvenance}}"></generic-result-display>
            <br/>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <button type="button" class="btn btn-sm btn-default" ng-click="previousPage()" ng-disabled="disablePrevious">
                <span class="glyphicon glyphicon-arrow-left"></span> previous page
            </button>
            <button type="button" class="btn btn-sm btn-default" ng-click="nextPage()" ng-disabled="disableNext">
                next page <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
        </div>
        <!-- end results panel -->
    </div>
</div>
