<div class="row">
    <div class="col-xs-12 col-sm-12">
        <h1>This isn't going to work.</h1>
        <p>Unfortunately, the device you're using to view this application just doesn't
        have the screen real estate to display the application correctly. Accordingly, 
        rather than have you encounter a bad experience we've decided to give you this
        message and suggest you use this application on a tablet device or desktop.
        </p>
        <p>Although we hope to offer a full mobile version of this application at some 
        point, we can't yet at this time say when that might occur. Apologies for any issues
        this may cause you and we hope we haven't lost you as a user!</p>
        <p>Regards, The IsisCB team.</p>
        
    </div>
</div>