<select class="form-control" ng-model="sortBy" ng-change="sort()">
    <option value="name asc">Sort - Alphabetically; ascending.</option>
    <option value="name desc">Sort - Alphabetically; descending.</option>
    <option value="exist_from asc">Sort - by Date; oldest first.</option>
    <option value="exist_from desc">Sort - by Date; newest first.</option>
    <option value="score desc">Sort - by Relevance; most relevant first.</option>
    <option value="score asc">Sort - by Relevance; least relevant first.</option>
</select>

