/* This is applied to the individual result
 * boxes.
 */

.result-border {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 0.5em;
  margin: 0.5em;
}

/* Applied to the title of the entity in the result display */



/* Applied to the date of the entity in the result display */



/* If you need to override link colouring  */

a:link {
  color: #24658A;
}

a:visited {
  color: #24658A;
}

a:focus {
  color: #24658A;
}

a:hover {
  color: #24658A;
}

a:active {
  color: #24658A;
}