<div class="row">
    <hr/>
    <div class="col-sm-10 col-md-10 col-lg-10">
        <h4>IsisCB History of Science Society</h4>
        This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a>
    </div>
</div>